exclude MANIFEST.in
exclude poetry.lock
exclude .pre-commit-config.yaml
exclude .flake8
exclude .dockerignore
exclude Dockerfile
exclude nodemon.json

global-exclude .gitkeep .gitignore .DS_Store

prune tests
prunt .github
prunt .vscode
